@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple');

*
{
padding: 0;
margin: 0;
}


@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/* Add a dark transparent background to the top navigation */
.topnav {
  background-color: #333;
  border-radius: 0px;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 2px blue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 0px 0px 0px white;
  margin: 1px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: springgreen;
  color: black;
  animation: glow 1s ease-in-out infinite alternate;
  transition: all 0.4s ease
}

/* Add a color to the home/current link */
.topnav a.home:hover {
  background-color: blue;
  border-radius: 5px;
  color: white;
  box-shadow: 5px 0px 8px 0px white;
}

/* Add a color to the home/current link */
.topnav a.contact:hover {
  background-color: #ffc45e;
  border-radius: 5px;
  color: white;
  box-shadow: 5px 0px 5px 0px white;
}


body {
  /*background-image: url("img/background.jpg"), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-kyoto-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
  height: 280px; /* Some height */
}
.text {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 3vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 1px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 40%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
.subtext h2{
  color: #fff;
  font-family: "Sofia", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  /*font-style: oblique;*/
  font-size: 4vw; /* Responsive font size */
  font-weight: bold;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  bottom: 2%; /* Position text in the middle */
  left: 25%; /* Position text in the middle */
  cursor: pointer;
}

/* Subtext glowing effect animation */
.subtext h2:span{
	transition: 0.5s;
}
.subtext h2:hover span:nth-child(0){
	margin-right: 10px;
}
.subtext h2:hover span:nth-child(1){
	margin-right: 10px;
}
.subtext h2:hover span:nth-child(2){
	margin-right: 10px;
}
.subtext h2:hover span:nth-child(3){
	margin-right: 10px;
}

.subtext h2:hover span{
	color: #49F3B9;
	text-shadow: 0 0 10px blue,
				 0 0 20px blue,
				 0 0 40px blue,
				 0 0 80px blue,
				 0 0 120px blue,
				 0 0 160px blue;
	transition: all 0.5s ease;
}

/* Navigation bar icons */
.material-icons{
	font-size:18px;
	position:static;
}

/* Main page content section */

/*Language schools*/
.school{
	width: 100;
	height:70vh;
	background-image: url("../img/main/scl.jpg"), linear-gradient(rgb(0, 0, 0, 0.3), transparent);
	background-size: cover;
	padding: 0.8%;
	position: relative;
	border-radius: 5px;
}
.school-text{
	color: #fff;
	position: absolute;
	top: 70px;
}

/*Highlighted text*/
.school-text h2{
	font-size: 120px;
	line-height: 110px;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: url("../img/main/back.png") #007fff ;
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 200s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.school-text p{
	font-size: 40px;
	font-weight: 500;
	text-shadow: 1px 1px 2px #1c1cf0 ;
}

/*Centers*/
.center{
	width: 100;
	height:70vh;
	background-image: url("../img/main/centers.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	background-size: cover;
	padding: 0.8%;
	position: relative;
	 border-radius: 5px;
}
.center-text{
	color: #fff;
	position: absolute;
	top: 70px;
}
/*Highlighted text*/
.center-text h2{
	font-size: 120px;
	line-height: 120px;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: url("../img/main/back.png") #00ff7f;
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 200s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.center-text p{
	font-size: 40px;
	font-weight: 500;
	text-shadow: 1px 1px 2px #00ff7f;
}

/*web*/
.web{
	width: 100;
	height:70vh;
	background-image: url("../img/main/online.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	background-size: cover;
	padding: 0.8%;
	position: relative;
	 border-radius: 5px;
}
.web-text{
	color: #fff;
	position: absolute;
	top: 70px;
}
/*Highlighted text*/
.web-text h2{
	font-size: 120px;
	line-height: 120px;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: url("../img/main/back.png") #ea3c53 ;
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 200s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.web-text p{
	font-size: 40px;
	font-weight: 500;
	text-shadow: 1px 1px 2px #ea3c53 ;
}

/*Information*/
.info{
	width: 100;
	height:70vh;
	background-image: url("../img/main/test.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	background-size: cover;
	padding: 0.8%;
	position: relative;
	 border-radius: 5px;
}
.info-text{
	color: #fff;
	position: absolute;
	top: 70px;
}
/*Highlighted text*/
.info-text h2{
	font-size: 100px;
	line-height: 100px;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: url("../img/main/back.png") #e63e62;
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 200s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.info-text p{
	font-size: 40px;
	font-weight: 500;
	text-shadow: 1px 1px 2px #e63e62;
}


/* Footer */
footer{
  font-family: "Poppins" , sans-serif;
  position: relative;
  background: #009150;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #FF0000;
}
.top .media-icons a:nth-child(4):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 2 - 10px);
  list-style-type: none;
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #fff;
}
content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
footer .bottom-details{
  width: 100%;
  background: #177245;
  
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes{
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes{
    width: 100%;
  }
}